extends ./layout/index

block slider 
    
    .slider
        .container.text-center.mb-5.presentacion
            img.logoInicio.mb-4(src="/img/travel-logo3.png", alt="" width="210")
            
            h3.text-light.mb-2 Moss garden travel®
            em aventura
        

block contenido
    main.container.mt-5
        h2.text-center.mb-3 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Moss Garden surge en el año 2003 tras el esfuerzo de un equipo de personas que en ese momento contaba con 25 años de experiencia en el rubro.Primero, hacer hincapié en una visión humana de cada viajero, con sencillez, sinceridad y transparencia; ya que sabemos lo divertido e importantes que son los viajes.Segundo, la búsqueda de innovación y el desarrollo tecnológico, con una visión joven y la intención de brindar información lo más clara posible; utilizando las herramientas que la nueva era nos proporciona.
                
            .col-md-6.mt-3
                include ./layout/carousel
                
        
        h2.text-center.mb-5 Viajes
        include ./layout/bloque_viajes 
        
    .descuento.mt-5
        .container
            .row 
                .col-md-6
                    .contenido
                        h3 10% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $2500 USD
            .row
                .container
                img(src="/img/payment.jpg", alt="medios de pago", class="img-fluid")
                           
    .container.mb-5
        br
        h2.text-center.testimonios Testimoniales

        include ./layout/bloque_testimoniales

            