extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a neque pharetra, convallis neque sit amet, tincidunt nisi. In at nulla metus. Pellentesque finibus purus id justo ultricies, nec dictum ex gravida. Sed maximus lobortis risus, id dictum tortor luctus ut. Maecenas rutrum turpis eu metus egestas, nec hendrerit orci semper. Proin accumsan felis vel ipsum fringilla, sit amet sollicitudin mi commodo. Etiam mattis, ipsum nec fringilla vestibulum, sapien ante convallis ante, quis lobortis ipsum lectus eget libero. Integer at ultrices velit, in vulputate velit. 

                p Integer rhoncus viverra sapien a faucibus. Curabitur aliquam mauris nec purus porttitor malesuada. Curabitur et semper orci. Duis nulla tortor, accumsan sed augue vel, lobortis semper ante. Etiam scelerisque arcu lacus, eu vehicula ex posuere sit amet. Ut aliquam purus id ipsum tincidunt posuere quis et augue. Donec sagittis diam enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                p Maecenas nec accumsan dui, id ornare est. Etiam vitae mauris diam. Sed nec tempus sapien, suscipit cursus arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce mollis neque tellus, at elementum elit rutrum a. Quisque at nunc id nibh mattis accumsan. Nulla a erat fermentum, porta felis ac, pharetra mauris. Vivamus in dictum nisi, id dapibus enim.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac

                

    