extends ./layout/index

block contenido
    
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7
                h1.mt-2= pagina
                blockquote Moss Garden surge en el año 2003 tras el esfuerzo de un equipo de personas que en ese momento contaba con 25 años de experiencia en el rubro.Primero, hacer hincapié en una visión humana de cada viajero, con sencillez, sinceridad y transparencia; ya que sabemos lo divertido e importantes que son los viajes.Segundo, la búsqueda de innovación y el desarrollo tecnológico, con una visión joven y la intención de brindar información lo más clara posible; utilizando las herramientas que la nueva era nos proporciona.

                p Buscamos llegar tanto a quienes quieren aventura, diversión, nuevas experiencias, placer o calma; como a quienes están intentando redescubrirse y redescubrir la cultura, la humanidad o la naturaleza. Ofrecemos opciones acordes a los diferentes gustos y necesidades. Contamos con una gran variedad de productos turísticos y tenemos muy en claro lo importante que es garantizar la seguridad y calidad en todos nuestros servicios.


                p Creemos que conectar Nuestra Región con el resto de Argentina y El Mundo es una forma de enriquecer nuestra cultura local. Por eso elegimos vender viajes.Algunos de los intereses y hobbies de quienes trabajamos acá son: la Historia, la Cultura, la Geografía, la Naturaleza, los Animales, el Yoga, la Danza, la Música, el Arte, los Paisajes el Automovilismo, los Vehículos y la Ciencia.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Sed nec tempus sapien, suscipit cursus arcu, Quisque at nunc id nibh mattis accumsan Nulla a erat fermentum, porta felis ac

                

    