#carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100.rounded(src='/img/inicio_nosotros.jpg' alt='1')
    .carousel-item
      img.d-block.w-100.rounded(src='/img/inicio_nosotros2.jpg' alt='2')
    .carousel-item
      img.d-block.w-100.rounded(src='/img/inicio_nosotros3.jpg' alt='3')
  button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next