footer.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
    
      ul.navbar-nav
        
        li.nav-item
          a.nav-link(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link(href='/nosotros') Nosotros
        li.nav-item
          a.nav-link(href='/viajes') Viajes
        li.nav-item
          a.nav-link(href='/testimoniales') Testimoniales